<div class="page-layout overflow-hidden pb-8">
  <div class="header-bg blue"></div>

  <!-- Left Sidebar -->
  <egret-sidebar
    name="layout-right-sidebar-card"
    [right]="true"
    class="default-bg-mobile"
  >
    <div class="sidebar-header text-white blue py-24 px-16">
      <!-- <h5 class="text-white">Sidebar header</h5> -->
    </div>
    <div>
      <mat-list>
        <mat-list-item>
          <button
            mat-raised-button
            color="accent"
            [routerLink]="['/application/form']"
          >
            Apply Now
          </button>
        </mat-list-item>
        <mat-list-item
          ><button mat-raised-button color="primary" (click)="openLocation()">
            Find Nearest Office
          </button></mat-list-item
        >
        <!-- <mat-list-item>List item 3</mat-list-item> -->
      </mat-list>
    </div>
  </egret-sidebar>

  <!-- body content -->
  <div class="content">
    <!-- Body content header -->
    <div class="content-header text-white py-24">
      <h2 class="text-white">New Application</h2>
      <h4 class="text-yellow" style="margin-top:10px">
        Applicants who wish to apply for a Visa are requested to kindly read
        the<br />
        information on this site carefully before applying.
      </h4>
    </div>

    <!-- content card -->
    <div class="content-body">
      <div class="content-card default-bg">
        <!-- card header -->
        <div class="card-header px-24 py-8 border-bottom">
          <button
            fxHide
            fxShow.lt-md
            mat-button
            egretSidebarToggler="layout-right-sidebar-card"
          >
            toggle
          </button>

          Visa Classes
        </div>
        <!-- Card body -->
        <mat-tab-group>
          <mat-tab label="Business Visa">
            <div class="p-24 height-100vh-280px">
              <h2>BUSINESS SHORT-TERM SINGLE ENTRY</h2>
              <h3>Short-Term Single Entry</h3>
              <p>
                This visa is for individuals who intend to visit Solomon Islands
                for short-term business activities. Business activities which
                may be permitted (non-exhaustive list) include:
              </p>
              <li>
                to carry out an official trade mission recognized by the Solomon
                Islands government
              </li>
              <li>
                to sell goods and services in Solomon Islands
              </li>
              <li>
                to buy Solomon Islands goods and services
              </li>
              <li>
                to support a major infrastructure development project as
                approved by the government of Solomon Islands
              </li>
              <li>
                to negotiate or discuss the set-up, expansion or wind-up of a
                business in Solomon Islands
              </li>
              <li>
                to carry out any business with the authorized representatives of
                an overseas company, body or person.
              </li>
              <br />
              <h3>Criteria</h3>
              <p>
                To be issued this visa you must show that you are a genuine
                business person or are engaging in approved employment, with the
                intention of leaving Solomon Islands at the end of your stay.
              </p>
              <h3>Eligible Passports</h3>
              <li>American Samoa</li>
              <li>Finland</li>
              <li>Luembourg</li>
              <br />
              <p>
                French Territories (as French Passport Holders) French
                Polynesia, Guadeloupe, New Caledonia, Reunion, Saint Barthelemy,
                Saint Martin (French part), Saint Pierre and Miquelon, Wallis
                and New Zealand Passport holding countries / territories Cook
                Islands, Niue, Tokelau US Territories (holders of US passports)
                Futuna, Guam, Northern Mariana Islands, Puerto Rico, Virgin
                Islands (U.S.) Dutch Territories (as Dutch passport holders).
                Aruba, Curacao, Sint Maarten (Dutch part), Bonaire and Sint
                Eustatius and Saba UNO - UN Organisation UNA - UN Agency
              </p>
              <h3>Dependents</h3>
              <p>
                Dependents of Business Short Term single-entry Visa Holders, who
                wish to accompany the visa holder to Solomon Islands, will, in
                most circumstances, be eligible to apply for an Easy Visitor
                Visa. Please refer to the Visitor Visa page for information on
                how to lodge an application or contact ICA to discuss your
                circumstances.<br />
                This Visa is
              </p>
              <li>valid for a single entry</li>
              <li>
                a period of thirty (30) days from the date of arrival in Solomon
                Islands.
              </li>
              <br />
              <h3>Where To Apply</h3>
              <p>Applications can be lodged</p>
              <li>online</li>
              <li>at any PNG Diplomatic Post or Mission prior to travel</li>
              <li>
                upon arrival for eligible passport holders at Jacksons
                International Airport, Port Moresby
              </li>
              <p>
                You are responsible for ensuring that you have the appropriate
                visa or right to obtain a visa on arrival in Solomon Islands
                prior to commencing your travel. There may be adverse
                consequences if you attempt to enter Solomon Islands without
                authority.
              </p>
              <h3>How To Apply</h3>
              <li>
                Complete the Online Application or Application for Entry Permit
                (Form 1)
              </li>
              <li>
                Pay the Migration Service Fee (MSF) of US$190* and US$50* online
                lodgment fee (if applicable)
              </li>
              <li>Provide passport and documentary evidence as follows</li>
              <li>
                Letter from business associate in Solomon Islands indicating
                purpose of visit, duration of stay, location of business and
                proposed frequency of visits
              </li>
              <br />
              <p>
                *All MSF and online lodgment fees are levied in US Dollars and
                converted into Australian Dollars (using the published
                conversion rate) prior to finalization of application
                registration. The total fees payable will be provided by the
                system prior entering payment details in the e-Visa portal or
                you will be advised by the ICA officer when submitting your
                application in person.
              </p>
              <p>
                **You may be required to present your documentary evidence to
                border officials when entering Solomon Islands.
              </p>
              <h3>Extension Of Stay</h3>
              <p>No extension is allowed for this visa class</p>
            </div>
          </mat-tab>
          <mat-tab label="Restricted Visa">
            <div class="p-24 height-100vh-280px">
              <h2>Restricted - Restricted Employment Visa (REV)</h2>
              <p>
                This visa is intended for Individuals with specialist skills and
                technical expertise, which is not available in Solomon Islands.
                A Migration Service Fee (MSF) of US$350 is charged for this Visa
                Class, with an additional US$50 as administrative fee for
                applications lodged via the e-Visa portal.
              </p>
              <h3>Validity</h3>
              <p>This visa is</p>
              <li>valid for a single entry</li>
              <li>
                a period of thirty (30) days from the date of arrival in Solomon
                Islands
              </li>
              <br />
              <h3>Visa Conditions</h3>
              <li>
                This visa is limited to four (4) entries per calendar year
              </li>
              <li>
                Travel to restricted facilities in the country without the
                permission of the Chief Migration Officer is prohibited
              </li>
              <br />
              <h3>Where To Apply</h3>
              <p>
                Applications can be lodged online. You are responsible for
                ensuring that you have the appropriate visa prior to commencing
                your travel. There may be adverse consequences if you attempt to
                enter Solomon Islands without authority.
              </p>
              <h3>How To Apply</h3>
              <li>
                Complete the Online Application or Application for Visa (Form 1)
              </li>
              <li>
                Pay the Migration Service Fee (MSF) of US$350 and US$50* online
                lodgment fee (if applicable)
              </li>
              <li>
                Provide copy of your passports bio data page and documentary
                evidence such as a Letter from business associate in Solomon
                Islands indicating purpose of visit, duration of stay, location
                of business and proposed frequency of visits
              </li>
              <br />
              <p>
                *All MSF and online lodgment fees are levied in US Dollars and
                converted into Australian Dollars (using the published
                conversion rate) prior to finalization of application
                registration. The total fees payable will be provided by the
                system prior entering payment details in the e-Visa portal
              </p>
              <h3>Documentation to Submit with Application</h3>
              <p>Refer to the REV information on the ICA website</p>
              <h3>Extension Of Stay</h3>
              <p>
                No extension is allowed for this visa class Change of status to
                another visa type is not permitted
              </p>
            </div>
          </mat-tab>
          <mat-tab label="Special Excemption Visa">
            <div class="p-24 height-100vh-280px">
              <h2>SPECIAL EXEMPTION AID WORKER/VOLUNTEER</h2>
              <h4>
                This visa is for individuals who intend to visit Solomon Islands
                to undertake activities sponsored or facilitated by the Youth
                With A Mission (YWAM) organization.
              </h4>
              <h4>
                This visa expressly prohibits the holder from engaging in paid
                work.
              </h4>
              <br />
              <h3>Criteria</h3>
              <p>
                To be issued this visa you must show that you are a genuine
                visitor, sponsored by YWAM, with the intention of leaving
                Solomon Islands at the end of your stay.
              </p>
              <h3>Validity</h3>
              <p>This visa is</p>
              <li>
                Valid for a period of stay up to 12 months from the day of first
                arrival in Solomon Islands
              </li>
              <li>
                Allows the holder single entry to Solomon Islands within the 12
                month period
              </li>
              <br />
              <h3>Where To Apply</h3>
              <p>Applications can be lodged</p>
              <li>online</li>
              <li>at any PNG Diplomatic Post or Mission prior to travel</li>
              <p>
                You are responsible for ensuring that you have the appropriate
                visa or right to obtain a visa on arrival in Solomon Islands
                prior to commencing your travel. There may be adverse
                consequences if you attempt to enter Solomon Islands without
                authority.
              </p>
              <h3>How To Apply</h3>
              <li>
                Complete the Online Application or Application for Entry Permit
              </li>
              <li>
                Pay the Migration Service Fee (MSF) of US$50* and US$50* online
                lodgment fee (if applicable)
              </li>
              <li>Provide passport and documentary evidence as follows</li>
              <li>Letter of support from YWAM</li>
              <br />
              <p>
                *All MSF and online lodgment fees are levied in US Dollars and
                converted into Australian Dollars (using the published
                conversion rate) prior to finalization of application
                registration. The total fees payable will be provided by the
                system prior entering payment details in the e-Visa portal or
                you will be advised by the ICA officer when submitting your
                application in person.
              </p>
              <p>
                **You may be required to present your documentary evidence to
                border officials when entering Solomon Islands.
              </p>
              <h3>Extension Of Stay</h3>
              <h4>
                In limited situations an extension of stay may be permitted.
                Please contact ICA to discuss your individual circumstances
              </h4>
            </div>
          </mat-tab>
          <mat-tab label="Visitor Visa">
            <div class="p-24 height-100vh-280px">
              <h2>Easy Visitor Permit (30 days)</h2>
              <p>
                This visa is for individual who intent to visit Solomon Islands
                for holidays, sightseeing, social or recreational reasons, and
                to visit relatives and friends. There is no Migration Service
                Fee (MSF) payable for the Visitor Permit, however, applications
                lodged via the e-Visa portal will attract a fee of US$50. This
                visa expressly prohibits the holder from engaging in paid work.
              </p>
              <h3>Eligible Passports</h3>
              <li>Antigua and Barbuda</li>
              <li>Grenada</li>
              <li>Mauritius</li>
              <p>
                *Passport holders may also apply for the Easy Visitor Permit
                (60) days.
              </p>

              <h3>Validity</h3>
              <p>This visa is</p>
              <li>valid for a single entry</li>
              <li>
                a period of thirty (30) days from the date of arrival in Solomon
                Islands
              </li>
              <br />
              <h3>Where To Apply</h3>
              <p>Applications can be lodged</p>
              <li>online only</li>
              <p>
                You are responsible for ensuring that you have the appropriate
                visa or right to obtain a visa on arrival in Solomon Islands
                prior to commencing your travel. There may be adverse
                consequences if you attempt to enter Solomon Islands without
                authority.
              </p>
              <h3>How To Apply</h3>
              <li>
                Complete the Online Application or Application for Entry Permit
              </li>
              <li>Pay the US$50* online lodgment fee (if applicable)</li>
              <li>Provide a copy of your passports bio data page</li>
              <br />
              <p>
                *All MSF and online lodgment fees are levied in US Dollars and
                converted into Australian Dollars (using the published
                conversion rate) prior to finalization of application
                registration. The total fees payable will be provided by the
                system prior entering payment details in the e-Visa portal or
                you will be advised by the ICA officer when submitting your
                application in person.
              </p>
              <h3>Extension Of Stay</h3>
              <p>An extension of stay is not permitted</p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
