<mat-grid-list cols="3">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <h3><b>Solomon Islands High Commission</b></h3>

      <p>1 Beale Cres, Deakin ACT 2600, Australia</p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <h3><b>Consulate of the Solomon Islands</b></h3>

      <p>666 Burrard St, Vancouver, BC V6C 3P6, Canada</p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <h3><b>Solomon Embassy in Jakarta, Indonesia</b></h3>

      <p>
        Tower ANZ, 23 Floor, Suite 15, 16, 17 of UE Serviced Of JI. Jend.
        Sudirma Kava, 33A Jakarta Indonesia
      </p>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <h3><b>Embassy of the Solomon Islands</b></h3>

      <p>Avenue Edouard Lacomblé 17, 1040 Etterbeek, Belgium</p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <h3><b>Embassy of Solomon Islands</b></h3>

      <p>
        111, Taiwan, Taipei City, Shilin District, Lane 62, Tianmu West Road,
        9號
      </p></mat-card
    >
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <h3><b>Solomon High Commission in Port Moresby, Papua New Guinea</b></h3>

      <p>
        Section 411, Lot 2, Kiroki Street P. O. Box 8922, Boroko Port Moresby
        Papua New Guinea
      </p>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
